@(id: Long,  clusterForm: Form[Cluster])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(forms.f) }

@layout.main("concurrentCOMMAND","page/cluster") {

<div id="content">

@clusters.header(null, "Edit")

  <div class="wrapper">

  @form(routes.Clusters.update(id)) {
  
    <fieldset>
      <div class="widget fluid">
        <div class="whead">
          <h6>Cluster Edition (Id: @id)</h6>
        </div>

        @inputText(clusterForm("name"), '_label -> "Name")
        @inputText(clusterForm("domain"), '_label -> "Domain")
        
      </div>
    </fieldset>

    <div class="middleNavA">  
      <input type="submit" value="Save this cluster" class="buttonS bGreen">  
      <a href="@routes.Clusters.view(id)" class="buttonS bRed">Cancel</a> 
    </div>

  }
  </div>
</div>

}

