@(message: String, cluster: Cluster)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(forms.f) }

@layout.main("concurrentCOMMAND","page/cluster") {

<div id="content">

@clusters.header(null, "Details")

  <div class="wrapper">


  <div class="widget fluid">
    <div class="whead">
      <h6>Cluster Details (Id: @cluster.id)</h6>
    </div>
    <div>
      <div class="formRow"><div class="grid1"><b><u>Name:</u></b></div><div>@cluster.name</div></div>
      <div class="formRow"><div class="grid1"><b><u>Domain:</u></b></div><div>@cluster.domain</div></div>
    </div>
  </div>
  
  <div class="middleNavA">  
    <a class="buttonS bGreen" href="@routes.Clusters.edit(cluster.id.get)">Edit this cluster</a>
  </div>
  
  </div>
</div>

}
