@(deviceForm: Form[Device])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(forms.f) }

@layout.main("concurrentCOMMAND","page/physical/device") {
<div id="content">
  @physical.devices.header(null, "Create")
    <div class="wrapper">
      @form(routes.Devices.save()) {  
        <fieldset>
        	<div class="widget fluid">
	          <div class="whead">
	            <h6>Device Creation</h6>
	          </div>
            @inputText(deviceForm("name"), '_label -> "Name")
            @inputText(deviceForm("description"), '_label -> "Description")
	          @inputText(deviceForm("manufacturer"), '_label -> "Manufacturer")
	          @inputText(deviceForm("model"), '_label -> "Model")
	          @inputText(deviceForm("rack"), '_label -> "Rack")
          </div>
        </fieldset> 
        <div class="middleNavA">
          <input type="submit" value="Create this device" class="buttonS bGreen"> 
          <a href="@routes.Devices.list()" class="buttonS bRed">Cancel</a> 
        </div>
      }
    </div>
</div> 
}
