@(id: Long,  deviceForm: Form[Device])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(forms.f) }

@layout.main("concurrentCOMMAND","page/physical/device") {

<div id="content">

@physical.devices.header(null, "Edit")

  <div class="wrapper">

  @form(routes.Devices.update(id)) {
  
    <fieldset>
      <div class="widget fluid">
        <div class="whead">
          <h6>Device Edition (Id: @id)</h6>
        </div>
        @inputText(deviceForm("name"), '_label -> "Name")
        @inputText(deviceForm("description"), '_label -> "Description")
	      @inputText(deviceForm("manufacturer"), '_label -> "Manufacturer")
	      @inputText(deviceForm("model"), '_label -> "Model")
	      @inputText(deviceForm("rack"), '_label -> "Rack")
      </div>
    </fieldset>

    <div class="middleNavA">  
      <input type="submit" value="Save this device" class="buttonS bGreen">  
      <a href="@routes.Devices.view(id)" class="buttonS bRed">Cancel</a> 
    </div>
  }
  </div>
</div>

}

