@(currentPage: Page[Device], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
  routes.Devices.list(newPage, newOrderBy.map { orderBy =>
    if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
  }.getOrElse(currentOrderBy), currentFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
  <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "sorting_asc" else "sorting_desc"}">
    <a href="@link(0, Some(orderBy))">@title</a>
  </th>
}

@layout.main("concurrentCOMMAND", "page/physical/devices/list") {
  <div id="content">
    @physical.devices.header(currentFilter, "List")
    <div class="wrapper">
      @Option(currentPage.items).filterNot(_.isEmpty).map { devices =>
        <div class="widget">
          <div class="whead">
            <span class="titleIcon">
              <div class="checker" id="uniform-titleCheck">
                <span class="none">
                  <input type="checkbox" id="titleCheck" name="titleCheck" style="opacity: 0;">
                </span>
              </div>
            </span>
            <h6>
              Devices
            </h6>
          </div>
          <div id="dyn" class="hiddenpars">
            <a class="tOptions" title="Options">
              <img src='@routes.Assets.at("images/icons/options")' alt="" />
            </a>
            <table cellpadding="0" cellspacing="0" border="0" class="dTable dataTable checkAll" id="checkAll">
              <thead>
                <tr>
                  <th> 
                    <img src="/assets/images/elements/other/tableArrows.png" alt="" />
                  </th>
                  @header(2, "Name")
                  @header(3, "Description")
            		  @header(4, "Manufacturer")
            		  @header(5, "Model")
            		  @header(6, "Rack")
                  <th width="100">
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                @devices.map { device => 
                <tr>
                  <td>
                    <input type="checkbox" id="titleCheck@device.id" name="titleCheck[@device.id]" style="opacity: 0;">
                  </td>
                  <td>
                    <a href="@routes.Devices.view(device.id.get)">
                      @device.name
                    </a>
                  </td>
                  <td>@device.description</td>
            		  <td>@device.manufacturer</td>
            		  <td>@device.model</td>
            		  <td>@device.rack</td>
                  <td class="tableActs" align="center">
                    <a href="@routes.Devices.edit(device.id.get)" class="tablectrl_small bDefault tipS" title="Edit">
                      <span class="iconb" data-icon="&#xe1db;"></span>
                    </a>
                    <a href="@routes.Devices.delete(device.id.get)" class="tablectrl_small bDefault tipS" title="Remove">
                      <span class="iconb" data-icon="&#xe136;"></span>
                    </a>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>      
      }.getOrElse {
        <div class="well">
          <em>
            Nothing to display
          </em>
        </div>
      }
    </div>
  </div>      
}

