@(message: String, device: Device)

@layout.main("concurrentCOMMAND","page/physical/devices/management", side_bar(device, "management")) {

<div id="content">

@physical.devices.header(null, "Management")

  <div class="wrapper">
    <div class="widget">
      <div class="whead">
        <h6>
          <span class="icos-imac"></span>
          &nbsp;@device.name - Management
        </h6>
      </div>
      <div class="body deviceOverview">
        <div class="grid12">
          <div class="formRow fluid">
            <div class="grid2"><label>Power action:</label></div>
            <div class="grid3">
              <select data-placeholder="Choose a power action..." class="select" tabindex="2">
                <option value=""></option>
                <optgroup label="OS Power control">
                  <option value="Soft shutdown">Soft shutdown</option> 
                  <option value="Soft reboot">Soft reboot</option> 
                  <option value="Hard shutdown">Hard shutdown</option> 
                  <option value="Hard reboot">Hard reboot</option> 
                  <option value="Identify">Identify</option>
                </optgroup>
                <optgroup label="PSU Power control: PSU0">
                  <option value="Power on">Power on</option> 
                  <option value="Power off">Power off</option> 
                  <option value="Power cycle">Power cycle</option> 
                  <option value="Power status">Power status</option> 
                  <option value="Identify">Identify</option>
                </optgroup> 
              </select>
            </div>             
            <div class="grid2">
              <a href="#" class="buttonM bGreen">
                <span class="icol-refresh2"></span>
                <span>Execute</span>
              </a>
            </div>
          </div>
          <div class="formRow fluid">
            <div class="grid2"><label>Diagnostics</label></div>
            <div class="grid3">
              <select data-placeholder="Choose a diagnostic..." class="select" tabindex="2">
                <option value=""></option>
                <optgroup label="OS Power control">
                  <option value="Soft shutdown">Soft shutdown</option> 
                  <option value="Soft reboot">Soft reboot</option> 
                  <option value="Hard shutdown">Hard shutdown</option> 
                  <option value="Hard reboot">Hard reboot</option> 
                  <option value="Identify">Identify</option>
                </optgroup>
                <optgroup label="PSU Power control: PSU0">
                  <option value="Power on">Power on</option> 
                  <option value="Power off">Power off</option> 
                  <option value="Power cycle">Power cycle</option> 
                  <option value="Power status">Power status</option> 
                  <option value="Identify">Identify</option>
                </optgroup> 
              </select>
            </div>             
            <div class="grid2">
              <a href="#" class="buttonM bGreen">
                <span class="icol-refresh2"></span>
                <span>Execute</span>
              </a>
            </div>
          </div>
          <div class="formRow fluid">
            <div class="grid2"><label>Tasks:</label></div>
            <div class="grid3">
              <select data-placeholder="Choose a task..." class="select" tabindex="2">
                <option value=""></option>
                <optgroup label="OS Power control">
                  <option value="Soft shutdown">Soft shutdown</option> 
                  <option value="Soft reboot">Soft reboot</option> 
                  <option value="Hard shutdown">Hard shutdown</option> 
                  <option value="Hard reboot">Hard reboot</option> 
                  <option value="Identify">Identify</option>
                </optgroup>
                <optgroup label="PSU Power control: PSU0">
                  <option value="Power on">Power on</option> 
                  <option value="Power off">Power off</option> 
                  <option value="Power cycle">Power cycle</option> 
                  <option value="Power status">Power status</option> 
                  <option value="Identify">Identify</option>
                </optgroup> 
              </select>
            </div>             
            <div class="grid2">
              <a href="#" class="buttonM bGreen">
                <span class="icol-refresh2"></span>
                <span>Execute</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sResults">
      <span class="arrow"></span>
      <ul class="updates">
        <li>
          <span class="uNotice">
            <a href="#" title>Console access</a>
            <span>
              You may attempt to <a href="#" alt>open a console to this device</a>. An IPMI enabled BMC entity has been configured, so you may attempt access to the console using IPMI Serial over LAN. The device has a configured IP address, so you may attempt a SSH connection directly to the node.
            </span>
            <ul class="console_ul">
              <li>
                <span class="console_icon">
                  <span>
                    <a href="#">Access console via IPMI SoL</a>
                  </span>
                </span>
              </li>
              <li>
                <span class="console_icon">
                  <span>
                    <a href="#">Access console via SSH</a>
                  </span>
                </span>
              </li>
            </ul>
          </span>
        </li>
        <li>
          <span class="uDone">
            <a href="#" title>Boot settings</a>
            <span>
              <a href="#">Change the boot settings</a> for this device.
            </span>
          </span>
        </li>
        <li>
          <span class="uAlert">
            <a href="#" title>Thresholds</a>
            <span>
              <a href="#">View the thresholds</a> which apply to this server.
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

}
