@(message: String, device: Device)

@layout.main("concurrentCOMMAND","page/physical/devices/metrics", side_bar(device, "metrics")) {

<div id="content">

@physical.devices.header(null, "Metrics")

  <div class="wrapper">
    <div class="widget rightTabs tableTabs"> 
      <div class="whead">
        <h6>
          <span class="icos-imac"></span>
          &nbsp;@device.name - Metrics
        </h6>
      </div>
      <div class="tabs">
        <ul>
          <li><a href="#ttab1">CT Generated</a></li>
          <li><a href="#ttab2">SNMP</a></li>
          <li><a href="#ttab3">IPMI</a></li>
          <li><a href="#ttab4">Power strip</a></li>
          <li><a href="#ttab5">Inband OS</a></li>
        </ul>
        <div class="shownpars">
          <div id="ttab1">
            <table cellpadding="0" cellspacing="0" width="100%" class="tDefault dTable dTable">
              <thead>
                <tr>
                  <td width="33.3%">Metric</td>
                  <td width="33.3%">Value</td>
                  <td width="33.3%">Units</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ct.calc.power.co2</td>
                  <td>0.01283</td>
                  <td>kgCO2/kWh</td>
                </tr>
                <tr>
                  <td>ct.calc.power.consumption</td>
                  <td>0.02209</td>
                  <td>kWh</td>
                </tr>
                <tr>
                  <td>ct.calc.power.cost</td>
                  <td>0.00232</td>
                  <td>EUR</td>
                </tr>
                <tr>
                  <td>ct.calc.power.total</td>
                  <td>22.20144</td>
                  <td>W</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="ttab2">
            <table cellpadding="0" cellspacing="0" width="100%" class="tDefault dTable">
              <thead>
                <tr>
                  <td width="33.3%">Metric</td>
                  <td width="33.3%">Value</td>
                  <td width="33.3%">Units</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ct.snmp.status</td>
                  <td>Fail</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="ttab3">
            <table cellpadding="0" cellspacing="0" width="100%" class="tDefault dTable">
              <thead>
                <tr>
                  <td width="33.3%">Metric</td>
                  <td width="33.3%">Value</td>
                  <td width="33.3%">Units</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ct.ipmi.status</td>
                  <td>Fail</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="ttab4">
            <table cellpadding="0" cellspacing="0" width="100%" class="tDefault dTable">
              <thead>
                <tr>
                  <td width="33.3%">Metric</td>
                  <td width="33.3%">Value</td>
                  <td width="33.3%">Units</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ct.pdu.psu0.apparent_power</td>
                  <td>24.161</td>
                  <td>VA</td>
                </tr>
                <tr>
                  <td>ct.pdu.psu0.power_factor</td>
                  <td>0.92</td>
                  <td>%</td>
                </tr>
                <tr>
                  <td>ct.pdu.psu0.real_power</td>
                  <td>22.22812</td>
                  <td>W</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="ttab5">
            <table cellpadding="0" cellspacing="0" width="100%" class="tDefault dTable">
              <thead>
                <tr>
                  <td width="33.3%">Metric</td>
                  <td width="33.3%">Value</td>
                  <td width="33.3%">Units</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    boottime
                  </td>
                  <td>
                    1369055795
                  </td>
                  <td>
                    s
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=bytes_in">bytes_in</a>
                  </td>
                  <td>
                    660.34
                  </td>
                  <td>
                    bytes/sec
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=bytes_out">bytes_out</a>
                  </td>
                  <td>
                    397.62
                  </td>
                  <td>
                    bytes/sec
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=cpu_aidle">cpu_aidle</a>
                  </td>
                  <td>
                    99.4
                  </td>
                  <td>
                    %
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=cpu_idle">cpu_idle</a>
                  </td>
                  <td>
                    99.7
                  </td>
                  <td>
                    %
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=cpu_nice">cpu_nice</a>
                  </td>
                  <td>
                    0.0
                  </td>
                  <td>
                    %
                  </td>
                </tr>
                <tr>
                  <td>
                    cpu_num
                  </td>
                  <td>
                    8
                  </td>
                  <td>
                    CPUs
                  </td>
                </tr>
                <tr>
                  <td>
                    cpu_speed
                  </td>
                  <td>
                    2110
                  </td>
                  <td>
                    MHz
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=cpu_system">cpu_system</a>
                  </td>
                  <td>
                    0.3
                  </td>
                  <td>
                    %
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=cpu_user">cpu_user</a>
                  </td>
                  <td>
                    0.1
                  </td>
                  <td>
                    %
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=cpu_wio">cpu_wio</a>
                  </td>
                  <td>
                    0.0
                  </td>
                  <td>
                    %
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.disk.partition_space_used_boot">ct.os.disk.partition_space_used_boot</a>
                  </td>
                  <td>
                    10.0
                  </td>
                  <td>
                    %
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.disk.partition_space_used_dev_shm">ct.os.disk.partition_space_used_dev_shm</a>
                  </td>
                  <td>
                    0.0
                  </td>
                  <td>
                    %
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.disk.partition_space_used_root">ct.os.disk.partition_space_used_root</a>
                  </td>
                  <td>
                    41.0
                  </td>
                  <td>
                    %
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.disk.partition_space_used_tmp">ct.os.disk.partition_space_used_tmp</a>
                  </td>
                  <td>
                    1.0
                  </td>
                  <td>
                    %
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.disk.partition_space_used_var">ct.os.disk.partition_space_used_var</a>
                  </td>
                  <td>
                    37.0
                  </td>
                  <td>
                    %
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.1.2v">ct.os.ipmi.1.2v</a>
                  </td>
                  <td>
                    1.12
                  </td>
                  <td>
                    Volts
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.3.3v">ct.os.ipmi.3.3v</a>
                  </td>
                  <td>
                    3.392
                  </td>
                  <td>
                    Volts
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.5v">ct.os.ipmi.5v</a>
                  </td>
                  <td>
                    4.944
                  </td>
                  <td>
                    Volts
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.5vsb">ct.os.ipmi.5vsb</a>
                  </td>
                  <td>
                    4.872
                  </td>
                  <td>
                    Volts
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.12v">ct.os.ipmi.12v</a>
                  </td>
                  <td>
                    12.18
                  </td>
                  <td>
                    Volts
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.-12v">ct.os.ipmi.-12v</a>
                  </td>
                  <td>
                    -12.5
                  </td>
                  <td>
                    Volts
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.cpu1_dimm">ct.os.ipmi.cpu1_dimm</a>
                  </td>
                  <td>
                    1.776
                  </td>
                  <td>
                    Volts
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.cpu1_temp">ct.os.ipmi.cpu1_temp</a>
                  </td>
                  <td>
                    83.0
                  </td>
                  <td>
                    degreesC
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.cpu1_vcore">ct.os.ipmi.cpu1_vcore</a>
                  </td>
                  <td>
                    1.176
                  </td>
                  <td>
                    Volts
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.cpu2_dimm">ct.os.ipmi.cpu2_dimm</a>
                  </td>
                  <td>
                    1.76
                  </td>
                  <td>
                    Volts
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.cpu2_temp">ct.os.ipmi.cpu2_temp</a>
                  </td>
                  <td>
                    57.0
                  </td>
                  <td>
                    degreesC
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.cpu2_vcore">ct.os.ipmi.cpu2_vcore</a>
                  </td>
                  <td>
                    1.176
                  </td>
                  <td>
                    Volts
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.fan1">ct.os.ipmi.fan1</a>
                  </td>
                  <td>
                    0.0
                  </td>
                  <td>
                    RPM
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/metrics/graphs/show/9?host_type=Server&amp;metric=ct.os.ipmi.fan2">ct.os.ipmi.fan2</a>
                  </td>
                  <td>
                    0.0
                  </td>
                  <td>
                    RPM
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

}
