@(device: Device, view: String) 
<div class="secNav">
  <div class="secWrapper">
    <div class="secTop">
      <div class="balance">
        <div class="balInfo">Viewing device:<span>@device.name</span></div>
      </div>
      <a href="#" class="triangle-blue"></a>
    </div>
    
    <!-- Tabs container -->
    <div id="tab-container" class="tab-container">
      <ul class="iconsLine ic2 etabs">
          <li><a href="#general" title=""><span class="icos-imac"></span></a></li>
          <li><a href="#alt1" title=""><span class="icos-pencil"></span></a></li>
      </ul>
      
      <div id="general">
        <div class="gap" style="padding-top:10px; padding-bottom:10px;"><span></span></div>
        
        <!-- Sidebar chart -->
        <div class="numStats">
          <ul>
            <li><a href="#" title="">342</a><span>Metrics</span></li>
            <li><a href="#" title="">0</a><span>Faults</span></li>
            <li class="last"><a href="#" title="">78:30</a><span>Up time</span></li>
          </ul>
        </div>

        <div class="divider"><span></span></div>

        <ul class="subNav">
          <li><a href="@routes.Devices.view(device.id.get)" title="" class=@if(view=="overview"){"this"}><span class="icos-search"></span>Overview</a></li>
          <li><a href="@routes.Devices.metrics(device.id.get)" title="" class=@if(view=="metrics"){"this"}><span class="icos-abacus"></span>Metrics</a></li>
          <li><a href="@routes.Devices.management(device.id.get)" title="" class=@if(view=="management"){"this"}><span class="icos-files"></span>Management</a></li>
          <li><a href="#" title=""><span class="icos-list"></span>SNMP Mibs</a></li>
          <li><a href="#" title=""><span class="icos-download"></span>Imaging</a></li>
        </ul>
      </div>
      <div id="alt1">

        <div class="divider"><span></span></div>

        <ul class="subNav">
          <li><a href="#" title="" class="exp"><span class="icos-alert"></span>Device actions <span class="dataNumBlue">3</span></a>
            <ul>
              <li><a href="#" title="">View device</a></li>
              <li><a href="#" title="">Edit device</a></li>
              <li><a href="#" title="">Delete device</a></li>
            </ul>
          </li>
          <li><a href="#" title="" class="exp"><span class="icos-alert"></span>Chassis pages <span class="dataNumBlue">4</span></a>
            <ul>
              <li><a href="#" title="">View chassis</a></li>
              <li><a href="#" title="">Edit chassis</a></li>
              <li><a href="#" title="">Move chassis</a></li>
              <li><a href="#" title="">Delete chassis</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="divider"><span></span></div>
      
      <div class="fluid">
        <div class="widget">
          <div class="whead">
            <h6>
              <span class="infoBox"></span>
              Hint
            </h6>
          </div>
          <div>
            <ul class="updates">
              <li>
                <span>
                  You can manage the devices configuration and status from this page
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
