@(message: String, device: Device)

@layout.main("concurrentCOMMAND","page/physical/devices/snmp", side_bar(device, "snmp")) {

<div id="content">

@physical.devices.header(null, "Management")

  <div class="wrapper">
    <div class="widget">
      <div class="whead">
        <h6>
          <span class="icos-imac"></span>
          &nbsp;@device.name - SNMP
        </h6>
      </div>
      <div class="body deviceOverview">
        <div class="grid12">
        </div>
      </div>
    </div>
  </div>
</div>

}
