@(message: String, device: Device)

@layout.main("concurrentCOMMAND","page/physical/devices/view", side_bar(device, "overview")) {

<div id="content">

@physical.devices.header(null, "Details")

  <div class="wrapper">
    <div class="widget fluid">
      <div class="whead">
        <h6>
          <span class="icos-imac"></span>
          &nbsp;@device.name - Overview
        </h6>
      </div>
      <div class="body deviceOverview">
        <div class="grid6">
          <h6 class="pt20 nopadding">
            Device details
          </h6>
          <dl>
            <dt>
              Name:
            </dt>
            <dd>
              @device.name 
            </dd>
          </dl>
          <dl>
            <dt>
              Description:
            </dt>
            <dd>
              @device.description
            </dd>
          </dl>
          <dl>
            <dt>
              Operating system status:
            </dt>
            <dd>
              <span class="strong green">ON</span>
            </dd>
          </dl>
          <dl>
            <dt>
              Type:
            </dt>
            <dd>
              Server
            </dd>
          </dl>
          <dl>
            <dt>
              Location:
            </dt>
            <dd>
              <a href="#">Engineering rack 1</a>
            </dd>
          </dl>
          <dl>
            <dt>
              Aspect:
            </dt>
            <dd>
              Front
            </dd>
          </dl>
          <dl>
            <dt>
              Groups:
            </dt>
            <dd>
              <a href="#">View the groups</a> this device belongs to
            </dd>
          </dl>
          <h6 class="pt20">
            Host details
          </h6>
          <dl>
            <dt>
              Role:
            </dt>
            <dd>
              Compute 
            </dd>
          </dl>
          <dl>
            <dt>
              Operating system:
            </dt>
            <dd>
              openSUSE 10.3
            </dd>
          </dl>
          <dl>
            <dt>
              Partitions:
            </dt>
            <dd>
              <a href="#">View the partitions</a> (/boot, /, swap, /var, /tmp)
            </dd>
          </dl>
          <h6 class="pt20">
            Network details
          </h6>
          <dl>
            <dt>
              BMC entity IP:
            </dt>
            <dd>
              192.168.2.150
            </dd>
          </dl>
          <dl>
            <dt>
              Interfaces:
            </dt>
            <dd>
              <a href="#">View the interfaces</a> this device supports 
            </dd>
          </dl>
        </div>

        <div class="grid6">
          <h6 class="pt20 nopadding">
            Device image
          </h6>
          <a href='@routes.Assets.at("images/devices/dell_m1000_e.png")' title="" class="lightbox">
            <img src='@routes.Assets.at("images/devices/dell_m1000_e.png")' alt="Dell M1000e" title="" class="scalable"/>
          </a>
          <h6 class="pt20 nopadding">
            Manufacturer information
          </h6>
          <dl>
            <dt>
              Manufacturer:
            </dt>
            <dd>
              Dell
            </dd>
          </dl>
          <dl>
            <dt>
              Model:
            </dt>
            <dd>
              M1000e
            </dd>
          </dl>
          <dl>
            <dt>
              Purchase date:
            </dt>
            <dd>
              03/03/2013
            </dd>
          </dl>
          <dl>
            <dt>
              Warrenty expiration date: 
            </dt>
            <dd>
              02/03/2017
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="sResults">
      <span class="arrow"></span>
      <ul class="updates">
        <li>
          <span class="uNotice">
            <a href="#" title>Hardware scan</a>
            <span>
              To perform a hardware scan please start the device in management mode and then begin the hardware information scanning process by clicking the 'perform hardware scan' button. You will be asked to insert your USB key into the physical node that maps to this device.
            </span>
          </span>
        </li>
        <li>
          <span class="uNotice">
            <a href="#" title>Boot settings</a>
            <span>
              The boot settings for this device can be changed from the <a href="#"><i>boot settings</i> in the management section</a>.
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

}
