@(message: String, user: User)

@layout.main(message, "page/metadata/view") {
  <div id="content">
      <div class="contentTop">
          <span class="pageTitle"><span class="icon-screen"></span>Dashboard</span>
          <ul class="quickStats">
              <li>
                  <a href="" class="blueImg"><img src='@routes.Assets.at("images/icons/quickstats/plus.png")' alt="" /></a>
                  <div class="floatR"><strong class="blue">5489</strong><span>visits</span></div>
              </li>
              <li>
                  <a href="" class="redImg"><img src='@routes.Assets.at("images/icons/quickstats/user.png")' alt="" /></a>
                  <div class="floatR"><strong class="blue">4658</strong><span>users</span></div>
              </li>
              <li>
                  <a href="" class="greenImg"><img src='@routes.Assets.at("images/icons/quickstats/money.png")' alt="" /></a>
                  <div class="floatR"><strong class="blue">1289</strong><span>orders</span></div>
              </li>
          </ul>
      </div>
      
      <!-- Breadcrumbs line -->
      <div class="breadLine">
          <div class="bc">
              <ul id="breadcrumbs" class="breadcrumbs">
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">UI elements</a>
                      <ul>
                          <li><a href="routes.UserInterface.ui" title="">General elements</a></li>
                          <li><a href="routes.UserInterface.ui_icons" title="">Icons</a></li>
                          <li><a href="routes.UserInterface.ui_buttons" title="">Button sets</a></li>
                          <li><a href="routes.UserInterface.ui_grid" title="">Grid</a></li>
                      </ul>
                  </li>
                  <li class="current"><a href="ui_grid.html" title="">Grid</a></li>
              </ul>
          </div>
          
          <div class="breadLinks">
              <ul>
                  <li><a href="#" title=""><i class="icos-list"></i><span>Orders</span> <strong>(+58)</strong></a></li>
                  <li><a href="#" title=""><i class="icos-check"></i><span>Tasks</span> <strong>(+12)</strong></a></li>
                  <li class="has">
                      <a title="">
                          <i class="icos-money3"></i>
                          <span>Invoices</span>
                          <span><img src='@routes.Assets.at("images/elements/control/hasddArrow.png")' alt="" /></span>
                      </a>
                      <ul>
                          <li><a href="#" title=""><span class="icos-add"></span>New invoice</a></li>
                          <li><a href="#" title=""><span class="icos-archive"></span>History</a></li>
                          <li><a href="#" title=""><span class="icos-printer"></span>Print invoices</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
      
      <!-- Main content -->
      <div class="wrapper">
        HELLO
      </div>
      <!-- Main content ends -->
      
  </div>
}
