<div class="contentTop">
  <span class="pageTitle"><span class="icon-screen"></span>Bookmarks</span>
  <ul class="quickStats">
    <li>
        <div class="floatR"><strong class="blue">Concurrent thinking ltd</strong><span>Warwick datacentre</span></div>
    </li>
  </ul>
</div>
<div class="breadLine">
  <div class="bc">
	  <ul id="breadcrumbs" class="breadcrumbs">
      <li><a href="#">User</a></li>
      <li class="current"><a href="#">Bookmarks</a></li>
	  </ul>
  </div>
  <div class="breadLinks">
    <ul>
      <li><a href="#" title=""><i class="icos-bell2"></i><span>Alerts</span> <strong>(+58)</strong></a></li>
      <li><a href="#" title=""><i class="icos-flag2"></i><span>Warnings</span> <strong>(+12)</strong></a></li>
      <li class="has">
        <a title="">
          <i class="icos-user2"></i>
          <span>Your account</span>
          <span><img src='@routes.Assets.at("images/elements/control/hasddArrow.png")' alt="" /></span>
        </a>
        <ul>
          <li><a href="#" title=""><span class="icos-cog4"></span>Account settings</a></li>
          <li><a href="#" title=""><span class="icos-list"></span>User preferences</a></li>
          <li><a href="#" title=""><span class="icos-powerpoint"></span>Dashboard preferences</a></li>
          <li><a href='@routes.Bookmarks.index' title=""><span class="icos-star"></span>Bookmarks</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
