@(message: String, user: User)

@layout.main(message, "page/metadata/bookmarks/bookmarks") {
  <div id="content">
    <div id="dialog-remove" title="Delete bookmark">
      <p>
        <span class="elfinder-dialog-icon elfinder-dialog-icon-error" style="float: left; margin: 0 7px 20px 0;"></span>
        This bookmark will be permanently deleted and cannot be recovered. Are you sure?
      </p>
    </div>
    <div id="dialog-edit" title="Edit bookmark">
      <p>
        <span class="elfinder-dialog-icon elfinder-dialog-icon-rename" style="float: left; margin: 0 7px 20px 0;"></span>
        <label for="title">Title:</label>
        <input type="text" name="placeholder" placeholder="Data centre" />
      </p>
    </div>
    @header()
    <!-- Breadcrumbs line -->
    <!-- Main content -->
    <div class="wrapper">
      <div class="gallery">
        <ul>
          <li>
            <a href="#" title class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="@routes.Application.index" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt>
              </a>
              <a href="#" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt>
              </a>
            </div>
            <span>Dashboard</span>
          </li>
          <li>
            <a href="#" title="" class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark2.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="@routes.DataCentre.index" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" title="" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt="">
              </a>
              <a href="#" title="" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt="">
              </a>
            </div>
            <span>Data centres</span>
          </li>
          <li>
            <a href="#" title class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark3.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="#" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt>
              </a>
              <a href="#" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt>
              </a>
            </div>
            <span>Find device</span>
          </li>
          <li>
            <a href="#" title class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="#" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt>
              </a>
              <a href="#" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt>
              </a>
            </div>
            <span>Daily reports</span>
          </li>
          <li>
            <a href="#" title class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark5.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="#" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt>
              </a>
              <a href="#" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt>
              </a>
            </div>
            <span>Feature packs</span>
          </li>
          <li>
            <a href="#" title class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark6.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="#" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt>
              </a>
              <a href="#" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt>
              </a>
            </div>
            <span>Interactive rack view</span>
          </li>
          <li>
            <a href="#" title class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="#" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt>
              </a>
              <a href="#" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt>
              </a>
            </div>
            <span>Jobs</span>
          </li>
          <li>
            <a href="#" title="" class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark2.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="#" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" title="" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt="">
              </a>
              <a href="#" title="" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt="">
              </a>
            </div>
            <span>Imaging</span>
          </li>
          <li>
            <a href="#" title class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark3.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="#" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt>
              </a>
              <a href="#" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt>
              </a>
            </div>
            <span>Cluster configuration</span>
          </li>
          <li>
            <a href="#" title class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="#" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt>
              </a>
              <a href="#" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt>
              </a>
            </div>
            <span>Engineering charts</span>
          </li>
          <li>
            <a href="#" title class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark5.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="#" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt>
              </a>
              <a href="#" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt>
              </a>
            </div>
            <span>User preferences</span>
          </li>
          <li>
            <a href="#" title class="lightbox">
              <img src="@routes.Assets.at("images/bookmarks/bookmark6.png")" width="110px" height="110px">
            </a>
            <div class="actions">
              <a href="#" class="show">
                <img src="@routes.Assets.at("images/icons/view.png")" alt>
              </a>
              <a href="#" class="edit">
                <img src="@routes.Assets.at("images/icons/update.png")" alt>
              </a>
              <a href="#" class="remove">
                <img src="@routes.Assets.at("images/icons/delete.png")" alt>
              </a>
            </div>
            <span>User accounts</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- Main content ends -->
  </div>
}
