@(groupForm: Form[Group])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(forms.f) }

@layout.main("concurrentCOMMAND","page/group") {
<div id="content">
  @groups.header(null, "Create")
    <div class="wrapper">
      @form(routes.Groups.save()) {  
        <fieldset>
          <div class="widget fluid">
	    <div class="whead">
	      <h6>Group Creation</h6>
	    </div>
            @inputText(groupForm("name"), '_label -> "Name")
            @inputText(groupForm("description"), '_label -> "Description")
	    @inputText(groupForm("group_type"), '_label -> "Type")
	    @inputText(groupForm("feature_packs"), '_label -> "Feature Packs")
          </div>
        </fieldset> 
        <div class="middleNavA">
          <input type="submit" value="Create this group" class="buttonS bGreen"> 
          <a href="@routes.Groups.list()" class="buttonS bRed">Cancel</a> 
        </div>
      }
    </div>
</div> 
}
