@(id: Long,  groupForm: Form[Group])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(forms.f) }

@layout.main("concurrentCOMMAND","page/group") {

<div id="content">

@groups.header(null, "Edit")

  <div class="wrapper">

  @form(routes.Groups.update(id)) {
  
    <fieldset>
      <div class="widget fluid">
        <div class="whead">
          <h6>Group Edition (Id: @id)</h6>
        </div>
        @inputText(groupForm("name"), '_label -> "Name")
        @inputText(groupForm("description"), '_label -> "Description")
	@inputText(groupForm("group_type"), '_label -> "Type")
	@inputText(groupForm("feature_packs"), '_label -> "Feature Packs")
      </div>
    </fieldset>

    <div class="middleNavA">  
      <input type="submit" value="Save this group" class="buttonS bGreen">  
      <a href="@routes.Groups.view(id)" class="buttonS bRed">Cancel</a> 
    </div>

  }
  </div>
</div>

}

