@(message: String, group: Group)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(forms.f) }

@layout.main("concurrentCOMMAND","page/group") {

<div id="content">

@groups.header(null, "Details")

  <div class="wrapper">


  <div class="widget fluid">
    <div class="whead">
      <h6>Group Details (Id: @group.id)</h6>
    </div>
    <div>
      <div class="formRow"><div class="grid2"><b><u>Name:</u></b></div><div>@group.name</div></div>
      <div class="formRow"><div class="grid2"><b><u>Description:</u></b></div><div>@group.description</div></div>
      <div class="formRow"><div class="grid2"><b><u>Type:</u></b></div><div>@group.group_type</div></div>
      <div class="formRow"><div class="grid2"><b><u>Feature Packs:</u></b></div><div>@group.feature_packs</div></div>
    </div>
  </div>
  
  <div class="middleNavA">  
    <a class="buttonS bGreen" href="@routes.Groups.edit(group.id.get)">Edit this group</a>
  </div>
  
  </div>
</div>

}
