@(message: String, user: User)

@layout.main("Interactive rack view", "page/irv/rack_view", side_bar()) {
  <div id="content" style="margin-bottom:0px!important">
    @header("Warwick data centre, Warwick", "")  
    <!-- Main content -->
    <div class="wrapper">
      <div id="dc_view"><img width="100%" height="100%" src="@routes.Assets.at("images/interactiverackview.png")" alt=""></div>
    </div>
    <!-- Main content ends -->
  </div>
}
