<div class="secNav">
  <div class="secWrapper">
    <div class="secTop">
      <div class="balance">
        <div class="balInfo">Viewing data centre:<span>Genesis, Warwick</span></div>
      </div>
      <a href="#" class="triangle-blue"></a>
    </div>
    
    <!-- Sidebar dropdown -->
    <ul class="fulldd">
      <li class="has">
        <a title="">
          <span class="icos-photos"></span>
          Views
          <span><img src='@routes.Assets.at("images/elements/control/hasddArrow.png")' alt="" /></span>
        </a>
        <ul>
          <li><a href="@routes.DataCentre.plan_view" title=""><span class="icos-map"></span>Plan view</a></li>
          <li><a href="@routes.Irv.rack_view" title=""><span class="icos-switcher"></span>Rack view</a></li>
          <li><a href="@routes.DataCentre.threedee" title=""><span class="icos-copypaste"></span>3D view</a></li>
        </ul>
      </li>
    </ul>

    <div id="general">

      <div class="gap" style="padding-top:10px; padding-bottom:10px;"><span></span></div>
      
      <!-- Sidebar chart -->
      <div class="numStats">
        <ul>
          <li><a href="#" title="">4248</a><span>Devices</span></li>
          <li><a href="#" title="">748</a><span>Racks</span></li>
          <li class="last"><a href="#" title="">357</a><span>Sensors</span></li>
        </ul>
      </div>

      <div class="divider"><span></span></div>

      <div id="tab-container" class="tab-container">
        <ul class="iconsLine ic2 etabs">
          <li><a href="#general" title=""><span class="icos-fullscreen"></span></a></li>
          <li><a href="#alt1" title=""><span class="icos-cog"></span></a></li>
        </ul>
        
        <div id="sideWidget">
          <div class="divider"><span></span></div>

          <div id="general" class="general sideWidget">
            <div class="sideUpload">
              <div class="dropFiles"><img src="@routes.Assets.at("images/interactiverackviewsmall.png")" alt="" width="182px" height="116px"></div>
            </div>

            <div class="sidepad">
              <div class="sliderSpecs">
                <label for="zoom">Zoom:</label>
                <input type="text" id="minRangeAmount" />
              </div>
              <div class="uMin"></div>
            </div>
          
            <div class="divider"><span></span></div>

            <div class="formRow searchDrop">
              <select data-placeholder="Choose a preset..." class="select" tabindex="2">
                <option value=""></option> 
                <option value="Preset A">Preset A</option> 
                <option value="Preset B">Preset B</option> 
                <option value="Preset C">Preset C</option> 
                <option value="Preset D">Preset D</option> 
                <option value="Preset E">Preset E</option> 
                <option value="Preset F">Preset F</option> 
                <option value="Preset G">Preset G</option> 
                <option value="Preset H">Preset H</option> 
                <option value="Preset I">Preset I</option> 
                <option value="Preset J">Preset J</option> 
                <option value="Preset K">Preset K</option> 
                <option value="Preset L">Preset L</option> 
                <option value="Preset M">Preset M</option> 
                <option value="Preset N">Preset N</option> 
                <option value="Preset O">Preset O</option> 
                <option value="Preset P">Preset P</option> 
                <option value="Preset Q">Preset Q</option> 
                <option value="Preset R">Preset R</option> 
                <option value="Preset S">Preset S</option> 
                <option value="Preset T">Preset T</option> 
                <option value="Preset U">Preset U</option> 
                <option value="Preset V">Preset V</option> 
                <option value="Preset W">Preset W</option> 
                <option value="Preset X">Preset X</option> 
                <option value="Preset Y">Preset Y</option> 
                <option value="Preset Z">Preset Z</option> 
              </select>
            </div>
            <div>
              <div style="text-align: right; font-size: 10px;"><a href="#" title class="">Update preset</a></div>
              <div style="text-align: right; font-size: 10px;"><a href="#" title class="">Add new preset</a></div>
            </div>
    
            <div class="divider"><span></span></div>

            <div class="balance">
              <div class="balInfo">
                Retrieving data
                <span>Next update in: 58 sec</span>
              </div>
            </div>
            <div class="sidepad">
              <div id="progress2">
                <span class="pbar"></span>
                <span class="percent"></span>
                <span class="elapsed"></span>
              </div>
            </div>
          </div>

          <div id="alt1">
            <div class="sidePad">
              <label>Metric selections</label>
              <div class="formRow searchDrop">
                <select data-placeholder="Choose a metric..." class="select" tabindex="2">
                  <option value=""></option> 
                  <option value="Metric A">Metric A</option> 
                  <option value="Metric B">Metric B</option> 
                  <option value="Metric C">Metric C</option> 
                  <option value="Metric D">Metric D</option> 
                  <option value="Metric E">Metric E</option> 
                  <option value="Metric F">Metric F</option> 
                  <option value="Metric G">Metric G</option> 
                  <option value="Metric H">Metric H</option> 
                  <option value="Metric I">Metric I</option> 
                  <option value="Metric J">Metric J</option> 
                  <option value="Metric K">Metric K</option> 
                  <option value="Metric L">Metric L</option> 
                  <option value="Metric M">Metric M</option> 
                  <option value="Metric N">Metric N</option> 
                  <option value="Metric O">Metric O</option> 
                  <option value="Metric P">Metric P</option> 
                  <option value="Metric Q">Metric Q</option> 
                  <option value="Metric R">Metric R</option> 
                  <option value="Metric S">Metric S</option> 
                  <option value="Metric T">Metric T</option> 
                  <option value="Metric U">Metric U</option> 
                  <option value="Metric V">Metric V</option> 
                  <option value="Metric W">Metric W</option> 
                  <option value="Metric X">Metric X</option> 
                  <option value="Metric Y">Metric Y</option> 
                  <option value="Metric Z">Metric Z</option> 
                </select>
              </div>
              <div class="formRow searchDrop">
                <select data-placeholder="Choose a statistic..." class="select" tabindex="2">
                  <option value=""></option> 
                  <option value="Min">Minimum</option> 
                  <option value="Avg">Average</option> 
                  <option value="Max">Maximum</option> 
                </select>
              </div>
              <div class="formRow searchDrop">
                <select data-placeholder="Choose a threshold..." class="select" tabindex="2">
                  <option value=""></option> 
                  <option value="Threshold A">Threshold A</option> 
                  <option value="Threshold B">Threshold B</option> 
                  <option value="Threshold C">Threshold C</option> 
                </select>
              </div>
              <div class="formRow searchDrop">
                <select data-placeholder="Graph order..." class="select" tabindex="2">
                  <option value=""></option> 
                  <option value="Graph A">Graph A</option> 
                  <option value="Graph B">Graph B</option> 
                  <option value="Graph C">Graph C</option> 
                </select>
              </div>
              <div class="formRow searchDrop">
                <select data-placeholder="Select a group..." class="select" tabindex="2">
                  <option value=""></option> 
                  <option value="Group A">Group A</option> 
                  <option value="Group B">Group B</option> 
                  <option value="Group C">Group C</option> 
                </select>
              </div>
              <div class="formRow">
                <input type="checkbox" id="check1" name="chbox1" checked="checked" class="check" />
                <label for="check1"  class="nopadding">Scale metric bars</label>
              </div>
              <div class="formRow">
                <input type="checkbox" id="check2" name="chbox2" checked="checked" class="check" />
                <label for="check2"  class="nopadding">Show graph</label>
              </div>
              <div class="formRow">
                <input type="checkbox" id="check2" name="chbox3" checked="checked" class="check" />
                <label for="check3"  class="nopadding">Show labels</label>
              </div>
              <div class="formRow">
                <input type="checkbox" id="check2" name="chbox4" checked="checked" class="check" />
                <label for="check4"  class="nopadding">Show sensor metrics</label>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end of tab container -->

    </div>
  </div>
</div>
