#dc_3D {
}
#blocker {
  position: absolute;
  width: 97.4%;
  height: 90.4%;
  background-color: rgba(0,0,0,0.5);
}
#instructions {
  width: 100%;
  height: 100%;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
