@(message: String, user: User)

@layout.main("Data centre 3D", "page/physical/datacentre/3D", side_bar()) {
  <div id="content" style="margin-bottom:0px!important">
    @header("Warwick data centre, Warwick", "")  
    <!-- Main content -->
    <div class="wrapper">
      <div class="widget fluid">
        <div class="whead">
          <h6>
            <span class="icos-copypaste"></span>
            &nbsp;Data centre 3D view
          </h6>
        </div>
        <div class="body deviceOverview">
        <div id="blocker">
          <div id="instructions">
            <span style="font-size:40px">Click to play</span>
            <br />
            (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
          </div>
        </div>
          <div id="dc_3D" />
        </div>
      </div>
    </div>
    <!-- Main content ends -->
  </div>
}
