#content {
  margin-left: 100px;
}

body {height:100%;}

/* Gallery page
================================================== */

.gallery { margin: auto; padding: 4px 1.5% 14px 1.5%; text-align: center; height: 80%; margin-top: 20px; }
.gallery ul li { display: inline-block; margin: 15px 30px 20px 30px; position: relative; height: 110px; background: white; padding: 4px; -webkit-box-shadow: 0 0px 2px #ddd; -moz-box-shadow: 0 0px 2px #ddd; box-shadow: 0 0px 2px #ddd; border: 1px solid #ccc; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;  }
.gallery ul li:hover { border-color: #ddd; }
.gallery ul li a { display: block; padding-bottom: 5px; }
.gallery .actions { position: absolute; top: 4px; right: 4px; width: 110px; height: 110px; display: none; background: url(../../../../images/elements/other/overlay.png); }
.gallery .actions a { font-size: 11px; display: block; margin: 45px 0px 0px; display: inline-block; }
.gallery .actions a:first-child { padding-right: 0; }
