@(elements: helper.FieldElements)

<div class="formRow @if(elements.hasErrors) {error}">
    <div class="grid2">
      <label for="@elements.id">@elements.label</label>
    </div>
    <div class="grid6">
        @elements.input
    </div>
    <div class="grid2">
       <span class="help-inline">@elements.infos.mkString(", ")</span> 
    </div>
</div>

