@(message: String, user: User)

@layout.main(title = "concurrentCOMMAND", module = "page/dashboard") {
  <div id="content">
    @header()
    <!-- Main content -->
    <div class="wrapper">
      <ul class="middleNavR">
        <li><a href="@routes.DataCentre.index" title="Data centre plan view" class="tipN"><img src='@routes.Assets.at("images/icons/middlenav/data_centre.png")' alt="" /></a><strong>3</strong></li>
        <li><a href="#" title="Rack view" class="tipN"><img src='@routes.Assets.at("images/icons/middlenav/rack_view.png")' alt="" /></a></li>
        <li><a href="#" title="Graphs" class="tipN"><img src='@routes.Assets.at("images/icons/middlenav/stats.png")' alt="" /></a></li>
        <li id="middleNavR_bookmarks"><a href='@routes.Bookmarks.index' title="Bookmarks" class="tipN"><img src='@routes.Assets.at("images/icons/middlenav/bookmarks.png")' alt="" /></a><strong>12</strong></li>
      </ul>
      <div class="divider"><span></span></div>
      <div class="gridster fluid">
        <div class="column grid4" id="column1">
          <div class="widget widgetSmall">
            <div class="whead">
              <h6><span class="widget-move-handle icos-full3"></span><h6>Data centre: general statistics</h6>
              <div class="on_off exp_button">
                <input type="checkbox" id="check1" checked="checked" name="chbox" />
              </div>
              <div class="titleOpt">
                <a href="#" data-toggle="dropdown">
                  <span class="icos-cog3"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#">
                      <span class="icos-cross"></span>
                        Remove widget
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="body exp_body tableBody subClosed">
              <table cellpadding="0" cellspacing="0" width="100%" class="tAlt">
                <thead>
                  <tr>
                    <td width="60">Amount</td>
                    <td>Description</td>
                    <td width="70">Changes</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center"><a href="#" title="" class="webStatsLink">1.2</a></td>
                    <td>Power consumption (Mw)</td>
                    <td align="center"><span class="statsPlus">0.32%</span></td>
                  </tr>
                  <tr>
                    <td align="center"><a href="#" title="" class="webStatsLink">18.5</a></td>
                    <td>Ambient temperature (C)</td>
                    <td align="center"><span class="statsMinus">82.3%</span></td>
                  </tr>
                  <tr>
                    <td align="center"><a href="#" title="" class="webStatsLink">46</a></td>
                    <td>Sound level (dB)</td>
                    <td align="center"><span class="statsPlus">100%</span></td>
                  </tr>
                  <tr>
                    <td align="center"><a href="#" title="" class="webStatsLink">750</a></td>
                    <td>Light level (lux)</td>
                    <td align="center"><span class="statsPlus">4.99%</span></td>
                  </tr>
                  <tr>
                    <td align="center"><a href="#" title="" class="webStatsLink">44</a></td>
                    <td>Humidity (%)</td>
                    <td align="center"><span class="statsMinus">9.67%</span></td>
                  </tr>
                </tbody>
              </table>    
            </div>
          </div>

          <div class="widget">
            <div class="whead">
              <h6><span class="widget-move-handle icos-full3"></span><h6>Eng dept: Ambient temperature</h6>
              <div class="on_off exp_button">
                <input type="checkbox" id="check1" checked="checked" name="chbox" />
              </div>
              <div class="titleOpt">
                <a href="#" data-toggle="dropdown">
                  <span class="icos-cog3"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#">
                      <span class="icos-full2"></span>
                        View full graph
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="icos-cross"></span>
                        Remove widget
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="body exp_body">
              <div class="chart"></div>
            </div>
          </div>

          <div class="widget">
            <div class="whead">
              <h6><span class="widget-move-handle icos-full3"></span><h6>Command: load-five</h6>
              <div class="on_off exp_button hand">
                <input type="checkbox" id="check1" checked="checked" name="chbox" />
              </div>
              <div class="titleOpt">
                <a href="#" data-toggle="dropdown">
                  <span class="icos-cog3"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#">
                      <span class="icos-full2"></span>
                        View full graph
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="icos-cross"></span>
                        Remove widget
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="body exp_body">
              <div class="body"><div class="updating"></div></div>
            </div>
          </div>
          
          <div class="widget widgetSmall rightTabs tableTabs">
            <div class="whead">
              <h6><span class="widget-move-handle icos-full3"></span><h6>Appliance status</h6>
              <div class="on_off exp_button hand">
                <input type="checkbox" id="check1" checked="checked" name="chbox" />
              </div>
              <div class="titleOpt">
                <a href="#" data-toggle="dropdown">
                  <span class="icos-cog3"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#">
                      <span class="icos-cross"></span>
                        Remove widget
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tablePars">
              <div class="dataNumGreen left">System Ok</div>
            </div>
            <div class="body exp_body tableBody">
              <div class="tabs">
                <ul>
                  <li><a href="#ttab1">Main</a></li>
                  <li><a href="#ttab2">Others</a></li>
                </ul>
                <div id="ttab1">
                  <table cellpadding="0" cellspacing="0" width="100%" class="tDefault mytasks">
                    <thead>
                      <tr>
                        <td>Service</td>
                        <td>Status</td>
                        <td>Act</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Appliance system configuration</td>
                        <td align="center" class="noBorderB"><div class="dataNumGreen none">Ok</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Estate management</td>
                        <td align="center" class="noBorderB"><div class="dataNumRed none">Fail</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Hardware configuration repository</td>
                        <td align="center" class="noBorderB"><div class="dataNumGreen none">Ok</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Metric collection and monitoring</td>
                        <td align="center" class="noBorderB"><div class="dataNumGreen none">Ok</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Node image management</td>
                        <td align="center" class="noBorderB"><div class="dataNumGreen none">Ok</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Script repository and management</td>
                        <td align="center" class="noBorderB"><div class="dataNumGreen none">Ok</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>User management and authentication</td>
                        <td align="center" class="noBorderB"><div class="dataNumGreen none">Ok</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div id="ttab2">
                  <table cellpadding="0" cellspacing="0" width="100%" class="tDefault">
                    <thead>
                      <thead>
                        <tr>
                          <td>Service</td>
                          <td>Status</td>
                          <td>Act</td>
                        </tr>
                      </thead>
                    </thead>
                    <tbody>
                      <tr>
                        <td>User management and authentication</td>
                        <td align="center" class="noBorderB"><div class="dataNumGreen none">Ok</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Database</td>
                        <td align="center" class="noBorderB"><div class="dataNumGreen none">Ok</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Gmetad and gmond</td>
                        <td align="center" class="noBorderB"><div class="dataNumGreen none">Ok</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Apache</td>
                        <td align="center" class="noBorderB"><div class="dataNumGreen none">Ok</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Delia</td>
                        <td align="center" class="noBorderB"><div class="dataNumRed none">Fail</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Monit</td>
                        <td align="center" class="noBorderB"><div class="dataNumRed none">Fail</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Florence</td>
                        <td align="center" class="noBorderB"><div class="dataNumGreen none">Ok</div></td>
                        <td align="center" class="noBorderB" width="16">
                          <a href="#" class="tablectrl_small bDefault">
                            <span class="taskProgress hand"></span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end of column one -->

        <div class="column grid4" id="column2">
          <div class="widget widgetSmall rightTabs tableTabs">
            <div class="whead">
              <h6><span class="widget-move-handle icos-full3"></span><h6>Fault status</h6>
              <div class="on_off exp_button hand">
                <input type="checkbox" id="check1" checked="checked" name="chbox" />
              </div>
              <div class="titleOpt">
                <a href="#" data-toggle="dropdown">
                  <span class="icos-cog3"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#">
                      <span class="icos-cross"></span>
                        Remove widget
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tablePars" style="padding: 10px">
              <div>There are 102 devices breaching their fault status, visit the <a href="#">fault status page</a> for futher information</div>
            </div>
            <div class="body exp_body tableBody">
              <table cellpadding="0" cellspacing="0" width="100%" class="tDefault tMedia">
                <thead>
                  <tr>
                    <td>Breaching Item</td>
                    <td>Metric</td>
                    <td>First breached</td>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td colspan="3">
                      <div class="tPages">
                        <ul class="pages">
                          <li class="prev"><a href="#" title=""><span class="icon-arrow-14"></span></a></li>
                          <li><a href="#" title="" class="active">1</a></li>
                          <li><a href="#" title="">2</a></li>
                          <li><a href="#" title="">3</a></li>
                          <li><a href="#" title="">4</a></li>
                          <li><a href="#" title="">5</a></li>
                          <li><a href="#" title="">6</a></li>
                          <li>...</li>
                          <li><a href="#" title="">20</a></li>
                          <li class="next"><a href="#" title=""><span class="icon-arrow-17"></span></a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>comp023</td>
                    <td>ct.ipmi.ambient_temp</td>
                    <td>19 Nov 2012 20:20</td>
                  </tr>
                  <tr>
                    <td>comp056</td>
                    <td>ct.ipmi.ambient_temp</td>
                    <td>17 Nov 2012 16:20</td>
                  </tr>
                  <tr>
                    <td>comp088</td>
                    <td>ct.ipmi.ambient_temp</td>
                    <td>16 Nov 2012 18:20</td>
                  </tr>
                  <tr>
                    <td>comp024</td>
                    <td>ct.ipmi.ambient_temp</td>
                    <td>13 Nov 2012 09:20</td>
                  </tr>
                  <tr>
                    <td>comp034</td>
                    <td>ct.ipmi.ambient_temp</td>
                    <td>15 Nov 2012 11:20</td>
                  </tr>
                  <tr>
                    <td>comp011</td>
                    <td>ct.ipmi.ambient_temp</td>
                    <td>11 Nov 2012 12:20</td>
                  </tr>
                  <tr>
                    <td class="noBorderB">comp098</td>
                    <td class="noBorderB">ct.ipmi.ambient_temp</td>
                    <td class="noBorderB">22 Nov 2012 14:20</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="widget chartWrapper">
            <div class="whead">
              <h6><span class="widget-move-handle icos-full3"></span><h6>Eng dept: Ambient temperature</h6>
              <div class="on_off exp_button">
                <input type="checkbox" id="check1" checked="checked" name="chbox" />
              </div>
              <div class="titleOpt">
                <a href="#" data-toggle="dropdown">
                  <span class="icos-cog3"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#">
                      <span class="icos-full2"></span>
                        View full graph
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="icos-cross"></span>
                        Remove widget
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="body exp_body">
              <div class="bars" id="placeholder1_h"></div>
            </div>
          </div>

          <div class="widget chartWrapper">
            <div class="whead">
              <h6><span class="widget-move-handle icos-full3"></span><h6>Eng dept: Ambient temperature</h6>
              <div class="on_off exp_button">
                <input type="checkbox" id="check1" checked="checked" name="chbox" />
              </div>
              <div class="titleOpt">
                <a href="#" data-toggle="dropdown">
                  <span class="icos-cog3"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#">
                      <span class="icos-full2"></span>
                        View full graph
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="icos-cross"></span>
                        Remove widget
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="body exp_body">
              <div class="pie" id="donut"></div>
            </div>
          </div>
        </div> <!-- end of column 2 -->

        <div class="column grid4" id="column3">
          <div class="widget chartWrapper">
            <div class="whead">
              <h6><span class="widget-move-handle icos-full3"></span><h6>Eng dept: Ambient temperature</h6>
              <div class="on_off exp_button">
                <input type="checkbox" id="check1" checked="checked" name="chbox" />
              </div>
              <div class="titleOpt">
                <a href="#" data-toggle="dropdown">
                  <span class="icos-cog3"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#">
                      <span class="icos-full2"></span>
                        View full graph
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="icos-cross"></span>
                        Remove widget
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="body exp_body">
              <div class="bars" id="placeholder1"></div>
            </div>
          </div>

          <div class="widget chartWrapper">
            <div class="whead">
              <h6><span class="widget-move-handle icos-full3"></span><h6>Tips and tricks</h6>
              <div class="on_off exp_button">
                <input type="checkbox" id="check1" checked="checked" name="chbox" />
              </div>
              <div class="titleOpt">
                <a href="#" data-toggle="dropdown">
                  <span class="icos-cog3"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#">
                      <span class="icos-cross"></span>
                        Remove widget
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="body exp_body">
              <ul class="updates">
                <li>
                  <div class="wNews">
                    <div class="announce">
                    	<a href="#" title="">Metrics</a>
                  	  <span>Check on the performance of your cluster by viewing the average metrics page.</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
