@(form: Form[(String,String)])(implicit flash: Flash)

@layout.no_template("Login", "page/login") {
  <!-- Top line begins -->
  <div id="top">
  	<div class="wrapper">
    	<a href="#" title="" class="logo"><img src='@routes.Assets.at("/images/logo-concurrent-thinking.png")' alt="" /></a>
          
      <!-- Right top nav -->
      <div class="topNav">
        <ul class="userNav">
          <li><a href="#" title="" class="screen"></a></li>
          <li><a href="#" title="" class="settings"></a></li>
          <li><a href="#" title="" class="logout"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Top line ends -->
  
  
  <!-- Login wrapper begins -->
  <div class="loginWrapper">
  
  	<!-- Current user form -->
      @helper.form(routes.Application.authenticate, 'id->"login") {
        @form.globalError.map { error =>
          <p class="error">
            @error.message
          </p>
        }

        @flash.get("success").map { message =>
          <p class="success">
            @message
          </p>
        }

        <div class="loginPic">
          <a href="#" title=""><img src="/assets/images/userLogin.png" alt="" /></a>
          <span>Paul Cockrell</span>
          <div class="loginActions">
              <div><a href="#" title="Change user" class="logleft flip"></a></div>
              <div><a href="#" title="Forgot password?" class="logright"></a></div>
          </div>
        </div>

        <input type="hidden" name="email" placeholder="Your email" id="email" class="loginEmail" value="paulcockrell@@gmail.com">
        <input type="password" name="password" placeholder="Password" id="password" class="loginPassword" >
        <div class="logControl">
            <div class="memory"><input type="checkbox" checked="checked" class="check" id="remember1" /><label for="remember1">Remember me</label></div>
            <input type="submit" name="submit" value="Login" class="buttonM bBlue" />
        </div>
      }
          
    <!-- New user form -->
      @helper.form(routes.Application.authenticate, 'id->"recover") {
        @form.globalError.map { error =>
          <p class="error">
            @error.message
          </p>
        }
              
        @flash.get("success").map { message =>
          <p class="success">
            @message
          </p>
        }

        <div class="loginPic">
          <a href="#" title=""><img src="/assets/images/userLogin2.png" alt="" /></a>
          <div class="loginActions">
              <div><a href="#" title="" class="logback flip"></a></div>
              <div><a href="#" title="Forgot password?" class="logright"></a></div>
          </div>
        </div>
  
        <input type="email" name="email" placeholder="Your email" id="email" class="loginEmail" value="">
        <input type="password" name="password" placeholder="Password" id="password" class="loginPassword" value="" >
  
        <div class="logControl">
            <div class="memory"><input type="checkbox" checked="checked" class="check" id="remember1" /><label for="remember1">Remember me</label></div>
            <input type="submit" name="submit" value="Login" class="buttonM bBlue" />
        </div>
      }

  </div>
  <!-- Login wrapper ends -->
}
