.infoBox { background: url(../../../images/elements/other/updateNotice.png) no-repeat 0 5px; width: 14px; height: 14px; margin-right: 10px; float: left; padding-top: 4px; }
dl {
  margin: 0 5px 10px 25px
}

dt {
  clear: left;
  float: left;
  margin: 0;
  width: 13.5em;
}

#content {
  padding-bottom: 20px;
}

.select {
  width: 100%;
}

.margin22 {
  margin-top: 22px;
}

.console_icon {
  background: url(../../../images/elements/fileTree/code.png) no-repeat 0 4px;
  padding-left: 22px;
  max-width: 76%;
  float: left;
}

.console_ul li {
  border: 0;
  padding: 2px 2px;
}
