.infoBox { background: url(../../../images/elements/other/updateNotice.png) no-repeat 0 5px; width: 14px; height: 14px; margin-right: 10px; float: left; padding-top: 4px; }
dl {
  margin: 0 5px 10px 25px
}

dt {
  clear: left;
  float: left;
  margin: 0;
  width: 13.5em;
}

#content {
  padding-bottom: 20px;
}
